

<div class="container">
    <h2 class="page-heading"> <span class="page-heading-title2">List of all Chefs & Foodies</span></h2>  <i class="fa fa-spinner fa-pulse fa-3x" ng-hide="customersArray || customersArray.length"></i>

    <div class="row">
        <div class="form-inline">
            <input type="text" size="50" class="form-control" ng-model="query" placeholder="Search customers by name, phone, email or status ... " />
            <input type="text" ng-model="query1" placeholder="search" style="display:none;">
        <span style="margin-left:24%;
    font-size: 17px;font-weight: bolder;">
          Total Registered Users:  {{customersArray.length}} 
        </span>
        <span style="margin-left: 19px;
    font-size: 17px;color: #ff7a18;
    font-weight: bolder;">
            Total Chefs : {{chef}}
        </span>
            <span style="margin-left: 19px;
    font-size: 17px;color: #8ecd15;
    font-weight: bolder;">
            Total Foodies : {{foodie}}
        </span>

            <table class=" table-bordered table-hover table-condensed" style="margin-top: 14px;">
                <thead >
                <tr >
                    <th>S.No</th>
                    <th>User Type<br/>
                    <select ng-click="searchByFoodieChef(query1);" ng-model="query1.usertype">
                        <option value="">All</option>
                        <option>Chef</option>
                        <option>foodie</option>
                    </select>
                    </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Registration Date</th>
                    <th>Endorsed</th>
                    <th>Featured Chef</th>
                    <th>Verified Chef</th>
                    <th>View Profile</th>
                    <th>View Dishes</th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="customer in customersArray.slice().reverse() | filter: query | filter:query1 |itemsPerPage:25">
                    <td>
                        {{$index+1}}
                    </td>
                    <td class="text-center">
                        {{customer.usertype || "Chef"}}
                    </td>
                    <td class="text-center">
                        {{customer.regisId.username}}
                    </td>
                    <td class="text-center">
                        {{customer.regisId.email}}
                    </td>
                    <td class="text-center">
                        {{customer.regisId.mobile}}
                    </td>

                    <td class="text-center">
                        <div ng-repeat="date in customer.regisId.InsertedDate">
                            {{date}}
                        </div>
                    </td>
                    <td class="text-center">
                        {{customer.endorsed ? "Yes" : "No"}}
                    </td>
                    <td class="text-center">
                        {{customer.featuredchef ? "Yes" : "No"}}
                    </td>
                    <td class="text-center">
                        {{customer.verifiedchef ? "Yes" : "No" }}
                    </td>
                    <td class="text-center">
                        <a ng-href="" ng-click="showChefProfile(customer.regisId._id)">Profile</a>
                    </td>
                    <td class="text-center">
                        <a ng-href="" ng-click="showChefDishes(customer.regisId._id)" ng-hide="customer.usertype=='foodie' ">Dishes</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-click="scrollFunction()">
                <dir-pagination-controls
                        max-size="25"
                        direction-links="true" boundary-links="true"  previous-text="&laquo;" next-text="&raquo;">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>