
<div>
    <img src="/images/logo.png" style="    width: 218px;
    margin-left: 44%;
    margin-top: 36px;">
</div>
<form class="form-horizontal" style="margin-top: 166px;
    margin-left: 21%;">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" placeholder="ID" ng-model="ID" style="width: 55%;">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="password" style="width: 55%;">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-click="loginFunction();" style="background: #9fde26;
    color: white;
    width: 16%;">Sign in</button>
        </div>
    </div>
</form>